{#
/**
 * @file
 * Component template for a form element wrapper.
 *
 * This component now includes the `form-label` component to render its label,
 * delegating that specific logic.
 *
 * @see kingly_minimal/components/form-element/form-element.component.yml
 *
 * @props
 * - label: (Object) The renderable array for the label.
 * - label_display: (String) The display setting for the label.
 * - description: (Object) A renderable array for the description.
 * - description_display: (String) The display setting for the description.
 * - errors: (Object) Any validation errors for this form element.
 * - prefix: (Object) The form element prefix.
 * - suffix: (Object) The form element suffix.
 * - required: (Boolean) Whether the element is required.
 * - id: (String) The ID of the form element, passed to the label's `for` attribute.
 * - attributes: (Object) A Drupal attributes object for the wrapper.
 *
 * @slots
 * - content: The form element itself (e.g., input, select).
 */
#}
<div{{ attributes }}>
  {% if label and label_display == 'before' %}
    {{ include('kingly_minimal:form-label', {
      text: label.text,
      for_id: id,
      required: required,
      attributes: label.attributes
    }, with_context=false) }}
  {% endif %}

  {% if description and description_display == 'before' %}
    {{ description }}
  {% endif %}

  <div class="form-item__content-wrapper">
    {% if prefix %}
      <span class="form-item__prefix">{{ prefix }}</span>
    {% endif %}

    {# The 'content' block is the placeholder for the actual form input. #}
    <div class="form-item__content">
      {% block content %}{% endblock %}
    </div>

    {% if suffix %}
      <span class="form-item__suffix">{{ suffix }}</span>
    {% endif %}
  </div>

  {% if label and label_display == 'after' %}
    {{ include('kingly_minimal:form-label', {
      text: label.text,
      for_id: id,
      required: required,
      attributes: label.attributes
    }, with_context=false) }}
  {% endif %}

  {% if errors %}
    <div class="form-item__error-message">
      {{ errors }}
    </div>
  {% endif %}

  {% if description and description_display == 'after' %}
    {{ description }}
  {% endif %}
</div>
