{#
/**
 * @file
 * Component template for a node teaser.
 *
 * This component structures the content for a node teaser. It delegates
 * rendering of the title, author picture, and content body to the `heading`,
 * `image`, and `text` components respectively.
 *
 * @see kingly_minimal/components/node-teaser/node-teaser.component.yml
 *
 * @props
 * - (All props from YML file)
 */
#}
<article{{ attributes }}>
  {# Delegate rendering of the linked title to our Heading component. #}
  {{ include('kingly_minimal:heading', {
    text: label,
    level: 'h2',
    display: 'h3',
    url: url,
    attributes: create_attribute().addClass('node__title')
  }, with_context = false) }}

  {% if submitted %}
    <footer class="node__meta">
      {{ include('kingly_minimal:image', {
        render_array: author_picture,
        attributes: create_attribute().addClass('user-picture'),
      }, with_context=false) }}

      <div class="node__submitted">
        {{ submitted }}
      </div>
    </footer>
  {% endif %}

  <div class="node__content">
    {{ include('kingly_minimal:text', {
      content: content,
      attributes: create_attribute().addClass('node__body')
    }, with_context=false) }}
  </div>
</article>
