{#
/**
 * @file
 * Theme override for a main views template.
 *
 * Available variables:
 * - attributes: A list of HTML attributes for the wrapper element.
 * - css_name: A CSS-safe version of the view name.
 * - css_class: A CSS-safe version of the view display name.
 * - view: The view object.
 * - dom_id: A unique DOM ID for the view.
 * - header: The header section of the view.
 * - footer: The footer section of the view.
 * - rows: The a list of rows in the view.
 * - empty: The "no results" content of the view.
 * - pager: The pager section of the view.
 * - exposed: The exposed form section of the view.
 * - more: The "more" link for the view.
 * - feed_icons: The feed icons for the view.
 * - title: The title of the view.
 *
 * @see template_preprocess_views_view()
 */
#}
{% set classes = [
  'view',
  'view-' ~ id()|clean_class,
  'view-id-' ~ id()|clean_class,
  'view-display-id-' ~ display_id,
  dom_id ? 'js-view-dom-id-' ~ dom_id,
] %}
<div{{ attributes.addClass(classes) }}>
  {{ title_prefix }}
  {% if title %}
    {{ title }}
  {% endif %}
  {{ title_suffix }}
  {% if header %}
    <div class="view-header">
      {{ header }}
    </div>
  {% endif %}
  {% if exposed %}
    <div class="view-filters">
      {{ exposed }}
    </div>
  {% endif %}
  {% if attachment_before %}
    <div class="attachment attachment-before">
      {{ attachment_before }}
    </div>
  {% endif %}

  {% if rows %}
    <div class="view-content">
      {{ rows }}
    </div>
  {% elseif empty %}
    <div class="view-empty">
      {{ empty }}
    </div>
  {% endif %}

  {% if pager %}
    {{ pager }}
  {% endif %}
  {% if attachment_after %}
    <div class="attachment attachment-after">
      {{ attachment_after }}
    </div>
  {% endif %}
  {% if more %}
    {{ more }}
  {% endif %}
  {% if footer %}
    <div class="view-footer">
      {{ footer }}
    </div>
  {% endif %}
  {% if feed_icons %}
    <div class="feed-icons">
      {{ feed_icons }}
    </div>
  {% endif %}
</div>
