{#
/**
 * @file
 * Component template for the footer contact section.
 *
 * This component now uses the `list`, `list-item`, and `link` SDCs for maximum
 * consistency and reusability.
 *
 * @see kingly_minimal/components/footer-contact/footer-contact.component.yml
 *
 * @props
 * - title: (String) The heading for the contact list.
 * - address: (String) The physical address.
 * - email: (String) The contact email address.
 * - phone: (String) The contact phone number.
 * - attributes: (Object) A Drupal attributes object for the wrapper.
 */
#}
{% embed 'kingly_minimal:footer-widget' with {
  title: title,
  attributes: attributes.addClass('footer-contact')
} %}
  {% block content %}
    {% embed 'kingly_minimal:list' with {
      attributes: create_attribute().addClass('footer-contact__list')
    } %}
      {% block content %}
        {% if address %}
          {% embed 'kingly_minimal:list-item' with {
            attributes: create_attribute().addClass('footer-contact__item')
          } %}
            {% block content %}
              {{ include('kingly_minimal:icon', { name: 'house' }, with_context = false) }}
              <span>{{ address }}</span>
            {% endblock %}
          {% endembed %}
        {% endif %}

        {% if email %}
          {% embed 'kingly_minimal:list-item' with {
            attributes: create_attribute().addClass('footer-contact__item')
          } %}
            {% block content %}
              {{ include('kingly_minimal:icon', { name: 'envelope' }, with_context = false) }}
              {{ include('kingly_minimal:link', {
                text: email,
                url: 'mailto:' ~ email,
                attributes: create_attribute().addClass('footer-contact__link')
              }, with_context=false) }}
            {% endblock %}
          {% endembed %}
        {% endif %}

        {% if phone %}
          {% embed 'kingly_minimal:list-item' with {
            attributes: create_attribute().addClass('footer-contact__item')
          } %}
            {% block content %}
              {# We strip non-numeric characters from the phone prop to create a valid tel: link. #}
              {% set phone_link = phone|replace({'+': '', ' ': '', '(': '', ')': '', '-': ''}) %}
              {{ include('kingly_minimal:icon', { name: 'phone' }, with_context = false) }}
              {{ include('kingly_minimal:link', {
                text: phone,
                url: 'tel:+' ~ phone_link,
                attributes: create_attribute().addClass('footer-contact__link')
              }, with_context=false) }}
            {% endblock %}
          {% endembed %}
        {% endif %}
      {% endblock %}
    {% endembed %}
  {% endblock %}
{% endembed %}
