{#
/**
 * @file
 * Component template for the footer contact section.
 *
 * This component embeds the `footer-widget` component, delegating the wrapper
 * and title markup to it.
 *
 * @see kingly_minimal/components/footer-contact/footer-contact.component.yml
 *
 * @props
 * - title: (String) The heading for the contact list.
 * - address: (String) The physical address.
 * - email: (String) The contact email address.
 * - phone: (String) The contact phone number.
 * - attributes: (Object) A Drupal attributes object for the wrapper.
 */
#}
{% embed 'kingly_minimal:footer-widget' with {
  title: title,
  attributes: attributes.addClass('footer-contact')
} %}
  {% block content %}
    <ul class="footer-contact__list">
      {% if address %}
        <li class="footer-contact__item">
          {{ include('kingly_minimal:icon', { name: 'house' }, with_context = false) }}
          <span>{{ address }}</span>
        </li>
      {% endif %}

      {% if email %}
        <li class="footer-contact__item">
          {{ include('kingly_minimal:icon', { name: 'envelope' }, with_context = false) }}
          <a href="mailto:{{ email }}" class="footer-contact__link">{{ email }}</a>
        </li>
      {% endif %}

      {% if phone %}
        <li class="footer-contact__item">
          {# We strip non-numeric characters from the phone prop to create a valid tel: link. #}
          {% set phone_link = phone|replace({'+': '', ' ': '', '(': '', ')': '', '-': ''}) %}
          {{ include('kingly_minimal:icon', { name: 'phone' }, with_context = false) }}
          <a href="tel:+{{ phone_link }}" class="footer-contact__link">{{ phone }}</a>
        </li>
      {% endif %}
    </ul>
  {% endblock %}
{% endembed %}
