{#
/**
 * @file
 * Component template for a card.
 *
 * This component is fully prop-driven. It supports layout variants and can
 * render the entire card as a single, accessible link. It now composes the
 * `heading` component for its title.
 *
 * @see kingly_minimal/components/card/card.component.yml
 *
 * @props
 * - variant: (String) The layout variant ('vertical' or 'horizontal').
 * - image: (Optional) An object of props for the `kingly_minimal:image` component.
 * - title: (Optional) The heading for the card.
 * - body: (Optional) The main text content for the card.
 * - link: (Optional) An object with 'url' and 'text'. If present, the card becomes a link.
 * - attributes: A Drupal attributes object for the root element.
 */
#}
{% set base_class = 'card' %}
{% set classes = [
  base_class,
  variant ? base_class ~ '--' ~ variant,
] %}

{% set tag = link.url ? 'a' : 'article' %}

<{{ tag }}
  {{ attributes.addClass(classes) }}
  {% if tag == 'a' and link.url %}href="{{ link.url }}"{% endif %}
>
<div class="card__wrapper">
  {% if image %}
    <div class="card__image">
      {{ include('kingly_minimal:image', image, with_context=false) }}
    </div>
  {% endif %}

  <div class="card__main-and-cta">
    <div class="card__main">
      {% if title %}
        {#
        Delegate title rendering to the `heading` component.
        The title is semantically an h3, but styled like an h4.
        #}
        {{ include('kingly_minimal:heading', {
          text: title,
          level: 'h3',
          display: 'h4',
          attributes: create_attribute().addClass('card__title')
        }, with_context = false) }}
      {% endif %}

      {% if body %}
        <div class="card__body">
          {{ include('kingly_minimal:text', {
            content: body,
          }, with_context = false) }}
        </div>
      {% endif %}
    </div>

    {% if link.text %}
      <div class="card__cta" aria-hidden="true">
        {{- link.text -}}
      </div>
    {% endif %}
  </div>
</div>
</{{ tag }}>
