{#
/**
 * @file
 * Theme override for a node in the 'teaser' view mode.
 *
 * This template contains the complete markup for the teaser view of a node,
 * after removing the 'node-teaser' Single Directory Component.
 *
 * @see template_preprocess_node()
 */
#}
{%
  set classes = [
  'node',
  'node--type-' ~ node.bundle|clean_class,
  node.isPromoted() ? 'node--promoted',
  node.isSticky() ? 'node--sticky',
  not node.isPublished() ? 'node--unpublished',
  view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
]
%}
<article{{ attributes.addClass(classes) }}>

  {{ include('kingly_minimal:heading', {
    text: label,
    level: 'h2',
    display: 'h3',
    url: url,
    attributes: create_attribute().addClass('node__title')
  }, with_context = false) }}

  {% if display_submitted %}
    <footer class="node__meta">
      {{ include('kingly_minimal:image', {
        render_array: author_picture,
        attributes: create_attribute().addClass('user-picture'),
      }, with_context=false) }}

      <div class="node__submitted">
        {% trans %}
          Submitted by {{ author_name }} on {{ date }}
        {% endtrans %}
        {{ metadata }}
      </div>
    </footer>
  {% endif %}

  <div{{ content_attributes.addClass('node__content') }}>
    {{ include('kingly_minimal:text', {
      content: content,
      attributes: create_attribute().addClass('node__body')
    }, with_context=false) }}
  </div>
</article>
