{#
/**
 * @file
 * Component template for a single comment.
 *
 * This component structures the comment and composes other SDCs for rendering
 * its parts. It uses the `image` component for the author's avatar, the `text`
 * component for the main comment body, and the `heading` component for the
 * comment's title. This ensures a consistent and maintainable presentation.
 *
 * @see kingly_minimal/components/comment/comment.component.yml
 *
 * @props
 * - author_picture: (Object) A renderable array for the author's picture,
 *   passed to the `image` component.
 * - author_name: (String) The comment author's name.
 * - created_date: (String) The formatted date the comment was posted.
 * - permalink: (String) The URL linking directly to the comment.
 * - is_new: (Boolean) A flag indicating if the comment is new.
 * - new_text: (String) The text to display for new comments (e.g., "new").
 * - content: (Object) The renderable array for the comment's main content,
 *   passed to the `text` component.
 * - title: (String|Object) The comment's title, passed to the `heading` component.
 * - title_prefix: (Object) A render array for content to be placed before the title.
 * - title_suffix: (Object) A render array for content to be placed after the title.
 * - attributes: (Object) A Drupal attributes object for the root `<article>` element.
 */
#}
<article{{ attributes.addClass('comment') }}>
  <footer class="comment__meta">
    {% if author_picture %}
      {{ include('kingly_minimal:image', {
        render_array: author_picture,
        attributes: create_attribute().addClass('comment__author-picture'),
      }, with_context=false) }}
    {% endif %}

    <div class="comment__submitted">
      <p class="comment__author-and-date">
        <span class="comment__author">{{ author_name }}</span>
        <span class="comment__date">{{ created_date }}</span>
      </p>
      <p class="comment__links">
        <a href="{{ permalink }}" rel="bookmark">{{ 'Permalink'|t }}</a>
        {% if is_new %}
          <mark class="new-marker">{{ new_text }}</mark>
        {% endif %}
      </p>
    </div>
  </footer>

  <div class="comment__content">
    {{ title_prefix }}
    {% if title %}
      {# Use the new heading component for the title. #}
      {{ include('kingly_minimal:heading', {
        text: title,
        level: 'h3',
        attributes: create_attribute().addClass('comment__title')
      }, with_context = false) }}
    {% endif %}
    {{ title_suffix }}

    {{ include('kingly_minimal:text', {
      content: content,
      attributes: create_attribute().addClass('comment__body'),
    }, with_context=false) }}
  </div>
</article>
