{#
/**
 * @file
 * Component template for a single comment.
 *
 * This component structures the comment and composes other SDCs for rendering
 * its parts, such as the author's picture (image component) and the main
 * content (text component).
 *
 * @see kingly_minimal/components/comment/comment.component.yml
 *
 * @props
 * - author_picture: A renderable array for the author's picture.
 * - author_name: The comment author's name.
 * - created_date: The formatted date the comment was posted.
 * - permalink: A URL linking directly to the comment.
 * - is_new: A flag indicating if the comment is new.
 * - new_text: The text to display for new comments.
 * - content: The comment's main content.
 * - title: The comment's title.
 * - title_prefix: Render array for output before the title.
 * - title_suffix: Render array for output after the title.
 * - attributes: A Drupal attributes object for the root <article> element.
 */
#}
<article{{ attributes.addClass('comment') }}>
  <footer class="comment__meta">
    {# Delegate rendering of the author's picture to our Image component. #}
    {% if author_picture %}
      {{ include('kingly_minimal:image', {
        render_array: author_picture,
        attributes: { class: ['comment__author-picture'] }
      }, with_context=false) }}
    {% endif %}

    <div class="comment__submitted">
      <p class="comment__author-and-date">
        <span class="comment__author">{{ author_name }}</span>
        <span class="comment__date">{{ created_date }}</span>
      </p>
      <p class="comment__links">
        <a href="{{ permalink }}" class="permalink" rel="bookmark">{{ 'Permalink'|t }}</a>
        {% if is_new %}
          <mark class="new">{{ new_text }}</mark>
        {% endif %}
      </p>
    </div>
  </footer>

  <div class="comment__content">
    {{ title_prefix }}
    {% if title %}
      <h3 class="comment__title">{{ title }}</h3>
    {% endif %}
    {{ title_suffix }}

    {# Delegate rendering of the main content to the Text component. #}
    {# This ensures consistent WYSIWYG styling. #}
    {{ include('kingly_minimal:text', {
      content: content
    }, with_context=false) }}
  </div>
</article>
