{#
/**
 * @file
 * Theme override for the 'Social Links' custom block.
 *
 * This template completely replaces the default output of the 'Social Links'
 * custom block. Instead of rendering the block's content (which is empty),
 * it includes our 'social-links' Single Directory Component. This is a key
 * pattern for making SDCs available as placeable blocks.
 *
 * It also prints the block's configured title.
 *
 * @see kingly_minimal/components/social-links/social-links.twig
 */
#}
<div{{ attributes.addClass('block', 'block-social-links') }}>
  {{ title_prefix }}
  {% if label %}
    <h2{{ title_attributes.addClass('block__title') }}>{{ label }}</h2>
  {% endif %}
  {{ title_suffix }}
  <div{{ content_attributes.addClass('block__content') }}>
    {#
    Instead of printing {{ content }}, we directly include our SDC.
    This effectively replaces the block's own content with our component.
    #}
    {{ include('kingly_minimal:social-links', with_context=false) }}
  </div>
</div>
