{#
/**
 * @file
 * Component template for a generic field.
 *
 * This component provides the structure for a field, its label, and its items,
 * replicating the logic of Drupal's default field.html.twig.
 *
 * @see kingly_minimal/components/field/field.component.yml
 *
 * @props
 * - attributes: (Object) HTML attributes for the containing element.
 * - label_hidden: (Boolean) A flag indicating whether to show the field label.
 * - title_attributes: (Object) HTML attributes for the title.
 * - label: (String|Object) The label for the field.
 * - multiple: (Boolean) TRUE if a field can contain multiple items.
 * - items: (Array) A list of field items. Each item contains:
 *   - attributes: (Object) List of HTML attributes for each item.
 *   - content: (Object) The field item's renderable content.
 */
#}
<div{{ attributes }}>
  {% if not label_hidden %}
    <div{{ title_attributes.addClass('field__label') }}>{{ label }}</div>
  {% endif %}

  {% if multiple %}
  <div class="field__items">
    {% endif %}

    {% for item in items %}
      <div{{ item.attributes.addClass('field__item') }}>{{ item.content }}</div>
    {% endfor %}

    {% if multiple %}
  </div>
  {% endif %}
</div>
