{#
/**
 * @file
 * Component template for a generic field.
 *
 * This component provides the structure for a field, its label, and its items,
 * replicating the logic of Drupal's default field.html.twig. This version
 * safely handles item attributes.
 *
 * @see kingly_minimal/components/field/field.component.yml
 *
 * @props
 * - (All props from YML file)
 */
#}
<div{{ attributes }}>
  {% if not label_hidden %}
    <div{{ title_attributes.addClass('field__label') }}>{{ label }}</div>
  {% endif %}

  {% if multiple %}
  <div class="field__items">
    {% endif %}

    {% for item in items %}
      {#
      FIX: Convert item.attributes (a plain array) into a proper Attribute
      object before attempting to add classes to it.
      #}
      {% set item_attributes = create_attribute(item.attributes) %}
      {% do item_attributes.addClass('field__item') %}
      <div{{ item_attributes }}>{{ item.content }}</div>
    {% endfor %}

    {% if multiple %}
  </div>
  {% endif %}
</div>
