{#
/**
 * @file
 * Component template for the main navigation menu.
 *
 * This component provides a semantic <nav> element and improves accessibility
 * by using the block's label as an ARIA label. It renders the `content` variable,
 * which contains the output of the `kingly_minimal:menu` component.
 *
 * @see kingly_minimal/components/main-menu/main-menu.component.yml
 *
 * @props
 * - label: (String) The accessible label for the navigation.
 * - content: (Object) The render array for the menu tree.
 * - attributes: (Object) HTML attributes for the root <nav> wrapper.
 */
#}
{% set heading_id = attributes.id ~ '-label' %}
{% set nav_attributes = create_attribute() %}

{% if label %}
  {% do nav_attributes.setAttribute('aria-labelledby', heading_id) %}
{% else %}
  {% do nav_attributes.setAttribute('aria-label', 'Main navigation'|t) %}
{% endif %}

<nav {{ attributes.merge(nav_attributes) }} role="navigation">
  {{ title_prefix }}
  {% if label %}
    <h2{{ title_attributes.addClass('visually-hidden') }} id="{{ heading_id }}">{{ label }}</h2>
  {% endif %}
  {{ title_suffix }}

  {% block content %}
    {{ content }}
  {% endblock %}
</nav>
