{#
/**
 * @file
 * Component template for the site footer.
 *
 * This component provides the structure for the site footer, including slots for
 * different sections of the footer.
 *
 * @see kingly_minimal/components/footer/footer.component.yml
 *
 * @props
 * - attributes: (Object) A Drupal attributes object for the root element.
 *
 * @slots
 * - top_left: Slot for the top left footer content (e.g., social prompt).
 * - top_right: Slot for the top right footer content (e.g., social links).
 * - first_column: Slot for the first footer column (e.g., company info).
 * - second_column: Slot for the second footer column (e.g., products links).
 * - third_column: Slot for the third footer column (e.g., useful links).
 * - fourth_column: Slot for the fourth footer column (e.g., contact info).
 * - bottom_left: Slot for the bottom left footer content (e.g., copyright).
 * - bottom_right: Slot for the bottom right footer content (e.g., utility links).
 */
#}
{% set base_class = 'footer' %}
{% set classes = [
  base_class,
] %}

<footer{{ attributes.addClass(classes) }} data-component-id="kingly_minimal:footer">
  <div class="{{ base_class }}__inner">
    <div class="{{ base_class }}__top">
      <div class="{{ base_class }}__top-left">
        {% block top_left %}{% endblock %}
      </div>
      <div class="{{ base_class }}__top-right">
        {% block top_right %}{% endblock %}
      </div>
    </div>

    <div class="{{ base_class }}__columns">
      <div class="{{ base_class }}__column {{ base_class }}__column--first">
        {% block first_column %}{% endblock %}
      </div>
      
      <div class="{{ base_class }}__column {{ base_class }}__column--second">
        {% block second_column %}{% endblock %}
      </div>
      
      <div class="{{ base_class }}__column {{ base_class }}__column--third">
        {% block third_column %}{% endblock %}
      </div>
      
      <div class="{{ base_class }}__column {{ base_class }}__column--fourth">
        {% block fourth_column %}{% endblock %}
      </div>
    </div>

    <div class="{{ base_class }}__bottom">
      <div class="{{ base_class }}__bottom-left">
        {% block bottom_left %}{% endblock %}
      </div>
      <div class="{{ base_class }}__bottom-right">
        {% block bottom_right %}{% endblock %}
      </div>
    </div>
  </div>
</footer>
