{#
/**
 * @file
 * Component template for a generic view.
 * @see kingly_minimal/components/views-view/views-view.component.yml
 * @props
 * - (All props from YML file)
 */
#}
<div{{ attributes }}>
  {{ title_prefix }}
  {% if title %}
    {# A View's title is often rendered by the page_title block, but if not,
       we render it here using our heading component. #}
    {{ include('kingly_minimal:heading', {
      text: title,
      level: 'h2',
      attributes: create_attribute().addClass('view-title')
    }, with_context=false) }}
  {% endif %}
  {{ title_suffix }}

  {% if header %}
    <div class="view-header">
      {{ header }}
    </div>
  {% endif %}
  {% if exposed %}
    <div class="view-filters">
      {{ exposed }}
    </div>
  {% endif %}
  {% if attachment_before %}
    <div class="attachment attachment-before">
      {{ attachment_before }}
    </div>
  {% endif %}

  {% if rows %}
    <div class="view-content">
      {{ rows }}
    </div>
  {% elseif empty %}
    <div class="view-empty">
      {{ empty }}
    </div>
  {% endif %}

  {% if pager %}
    {{ pager }}
  {% endif %}
  {% if attachment_after %}
    <div class="attachment attachment-after">
      {{ attachment_after }}
    </div>
  {% endif %}
  {% if more %}
    {{ more }}
  {% endif %}
  {% if footer %}
    <div class="view-footer">
      {{ footer }}
    </div>
  {% endif %}
  {% if feed_icons %}
    <div class="feed-icons">
      {{ feed_icons }}
    </div>
  {% endif %}
</div>
