{#
/**
 * @file
 * Component template for a pager.
 *
 * This component now uses the `list`, `list-item`, and `link` SDCs for maximum
 * consistency and reusability. It correctly converts plain attribute arrays
 * from the pager service into Drupal Attribute objects before modification.
 *
 * @see kingly_minimal/components/pager/pager.component.yml
 *
 * @props
 * - items: (Object) A structured list of pager links.
 * - heading_id: (String) The HTML ID for the visually hidden h4 heading.
 * - attributes: (Object) A Drupal attributes object for the root <nav> element.
 */
#}
{% if items %}
  <nav{{ attributes.addClass('pager').setAttribute('role', 'navigation').setAttribute('aria-labelledby', heading_id) }}>
    {# A visually hidden heading provides the accessible name for the <nav> landmark. #}
    {{ include('kingly_minimal:heading', {
      text: 'Pagination'|t,
      level: 'h4',
      attributes: create_attribute().addClass('visually-hidden').setAttribute('id', heading_id)
    }, with_context=false) }}

    {% embed 'kingly_minimal:list' with { attributes: create_attribute().addClass('pager__items') } %}
      {% block content %}

        {# First item #}
        {% if items.first %}
          {% set link_attributes = create_attribute(items.first.attributes) %}
          {% do link_attributes.addClass('pager__link').setAttribute('title', 'Go to first page'|t) %}
          {% embed 'kingly_minimal:list-item' with { attributes: create_attribute().addClass('pager__item', 'pager__item--first') } %}
            {% block content %}
              {{ include('kingly_minimal:link', {
                url: items.first.href,
                text: '<span class="visually-hidden">' ~ 'First page'|t ~ '</span><span aria-hidden="true">' ~ (items.first.text|default('« First'|t)) ~ '</span>',
                attributes: link_attributes,
              }) }}
            {% endblock %}
          {% endembed %}
        {% endif %}

        {# Previous item #}
        {% if items.previous %}
          {% set link_attributes = create_attribute(items.previous.attributes) %}
          {% do link_attributes.addClass('pager__link').setAttribute('title', 'Go to previous page'|t).setAttribute('rel', 'prev') %}
          {% embed 'kingly_minimal:list-item' with { attributes: create_attribute().addClass('pager__item', 'pager__item--previous') } %}
            {% block content %}
              {{ include('kingly_minimal:link', {
                url: items.previous.href,
                text: '<span class="visually-hidden">' ~ 'Previous page'|t ~ '</span><span aria-hidden="true">' ~ (items.previous.text|default('‹ Previous'|t)) ~ '</span>',
                attributes: link_attributes,
              }) }}
            {% endblock %}
          {% endembed %}
        {% endif %}

        {# First ellipsis #}
        {% if items.pages.first_ellipsis %}
          {% embed 'kingly_minimal:list-item' with { attributes: create_attribute().addClass('pager__item', 'pager__item--ellipsis').setAttribute('role', 'presentation') } %}
            {% block content %}…{% endblock %}
          {% endembed %}
        {% endif %}

        {# Page numbers #}
        {% for key, item in items.pages %}
          {% set item_classes = ['pager__item', 'pager__item--number'] %}
          {% if items.current == key %}
            {% set item_classes = item_classes|merge(['is-active']) %}
          {% endif %}

          {% embed 'kingly_minimal:list-item' with { attributes: create_attribute().addClass(item_classes) } %}
            {% block content %}
              {% if items.current == key %}
                {# A11Y FIX: Removed redundant aria-label. The visually-hidden text is sufficient. #}
                {# WCAG 2.4.8 (AAA): `aria-current="page"` identifies the current page. #}
                <span class="pager__link is-active" aria-current="page">
            <span class="visually-hidden">{{ 'Current page'|t }}, </span>{{ key }}
          </span>
              {% else %}
                {% set link_attributes = create_attribute(item.attributes) %}
                {% do link_attributes.addClass('pager__link').setAttribute('title', 'Go to page @key'|t({'@key': key})) %}
                {{ include('kingly_minimal:link', {
                  url: item.href,
                  text: '<span class="visually-hidden">' ~ 'Page'|t ~ ' </span>' ~ key,
                  attributes: link_attributes,
                }) }}
              {% endif %}
            {% endblock %}
          {% endembed %}
        {% endfor %}

        {# Last ellipsis #}
        {% if items.pages.last_ellipsis %}
          {% embed 'kingly_minimal:list-item' with { attributes: create_attribute().addClass('pager__item', 'pager__item--ellipsis').setAttribute('role', 'presentation') } %}
            {% block content %}…{% endblock %}
          {% endembed %}
        {% endif %}

        {# Next item #}
        {% if items.next %}
          {% set link_attributes = create_attribute(items.next.attributes) %}
          {% do link_attributes.addClass('pager__link').setAttribute('title', 'Go to next page'|t).setAttribute('rel', 'next') %}
          {% embed 'kingly_minimal:list-item' with { attributes: create_attribute().addClass('pager__item', 'pager__item--next') } %}
            {% block content %}
              {{ include('kingly_minimal:link', {
                url: items.next.href,
                text: '<span class="visually-hidden">' ~ 'Next page'|t ~ '</span><span aria-hidden="true">' ~ (items.next.text|default('Next ›'|t)) ~ '</span>',
                attributes: link_attributes,
              }) }}
            {% endblock %}
          {% endembed %}
        {% endif %}

        {# Last item #}
        {% if items.last %}
          {% set link_attributes = create_attribute(items.last.attributes) %}
          {% do link_attributes.addClass('pager__link').setAttribute('title', 'Go to last page'|t) %}
          {% embed 'kingly_minimal:list-item' with { attributes: create_attribute().addClass('pager__item', 'pager__item--last') } %}
            {% block content %}
              {{ include('kingly_minimal:link', {
                url: items.last.href,
                text: '<span class="visually-hidden">' ~ 'Last page'|t ~ '</span><span aria-hidden="true">' ~ (items.last.text|default('Last »'|t)) ~ '</span>',
                attributes: link_attributes,
              }) }}
            {% endblock %}
          {% endembed %}
        {% endif %}
      {% endblock %}
    {% endembed %}
  </nav>
{% endif %}
