{#
/**
 * @file
 * Component template for a pager.
 *
 * This component now uses the `list`, `list-item`, and `link` SDCs for maximum
 * consistency and reusability.
 *
 * @see kingly_minimal/components/pager/pager.component.yml
 *
 * @props
 * - items: (Object) A structured list of pager links.
 * - heading_id: (String) The HTML ID for the visually hidden h4 heading.
 * - attributes: (Object) A Drupal attributes object for the root <nav> element.
 */
#}
{% if items %}
  <nav{{ attributes.addClass('pager').setAttribute('role', 'navigation').setAttribute('aria-labelledby', heading_id) }}>
    {{ include('kingly_minimal:heading', {
      text: 'Pagination'|t,
      level: 'h4',
      attributes: create_attribute().addClass('visually-hidden').setAttribute('id', heading_id)
    }, with_context=false) }}

    {% embed 'kingly_minimal:list' with { attributes: create_attribute().addClass('pager__items') } %}
      {% block content %}
        {# First item #}
        {% if items.first %}
          {% embed 'kingly_minimal:list-item' with { attributes: create_attribute().addClass('pager__item', 'pager__item--first') } %}
            {% block content %}
              {{ include('kingly_minimal:link', {
                url: items.first.href,
                text: '<span class="visually-hidden">' ~ 'First page'|t ~ '</span><span aria-hidden="true">' ~ (items.first.text|default('« First'|t)) ~ '</span>',
                attributes: items.first.attributes|without('href', 'class').addClass('pager__link').setAttribute('title', 'Go to first page'|t),
              }) }}
            {% endblock %}
          {% endembed %}
        {% endif %}

        {# Previous item #}
        {% if items.previous %}
          {% embed 'kingly_minimal:list-item' with { attributes: create_attribute().addClass('pager__item', 'pager__item--previous') } %}
            {% block content %}
              {{ include('kingly_minimal:link', {
                url: items.previous.href,
                text: '<span class="visually-hidden">' ~ 'Previous page'|t ~ '</span><span aria-hidden="true">' ~ (items.previous.text|default('‹ Previous'|t)) ~ '</span>',
                attributes: items.previous.attributes|without('href', 'class').addClass('pager__link').setAttribute('title', 'Go to previous page'|t).setAttribute('rel', 'prev'),
              }) }}
            {% endblock %}
          {% endembed %}
        {% endif %}

        {# First ellipsis #}
        {% if items.pages.first_ellipsis %}
          {% embed 'kingly_minimal:list-item' with { attributes: create_attribute().addClass('pager__item', 'pager__item--ellipsis').setAttribute('role', 'presentation') } %}
            {% block content %}…{% endblock %}
          {% endembed %}
        {% endif %}

        {# Page numbers #}
        {% for key, item in items.pages %}
          {% set item_classes = ['pager__item', 'pager__item--number', items.current == key ? 'is-active'] %}
          {% embed 'kingly_minimal:list-item' with { attributes: create_attribute().addClass(item_classes) } %}
            {% block content %}
              {% set link_attributes = item.attributes|without('href', 'class').addClass('pager__link').setAttribute('title', 'Go to page @key'|t({'@key': key})) %}
              {% if items.current == key %}
                {% do link_attributes.setAttribute('aria-current', 'page') %}
              {% endif %}
              {{ include('kingly_minimal:link', {
                url: item.href,
                text: '<span class="visually-hidden">' ~ (items.current == key ? 'Current page'|t : 'Page'|t) ~ '</span>' ~ key,
                attributes: link_attributes,
              }) }}
            {% endblock %}
          {% endembed %}
        {% endfor %}

        {# Last ellipsis #}
        {% if items.pages.last_ellipsis %}
          {% embed 'kingly_minimal:list-item' with { attributes: create_attribute().addClass('pager__item', 'pager__item--ellipsis').setAttribute('role', 'presentation') } %}
            {% block content %}…{% endblock %}
          {% endembed %}
        {% endif %}

        {# Next item #}
        {% if items.next %}
          {% embed 'kingly_minimal:list-item' with { attributes: create_attribute().addClass('pager__item', 'pager__item--next') } %}
            {% block content %}
              {{ include('kingly_minimal:link', {
                url: items.next.href,
                text: '<span class="visually-hidden">' ~ 'Next page'|t ~ '</span><span aria-hidden="true">' ~ (items.next.text|default('Next ›'|t)) ~ '</span>',
                attributes: items.next.attributes|without('href', 'class').addClass('pager__link').setAttribute('title', 'Go to next page'|t).setAttribute('rel', 'next'),
              }) }}
            {% endblock %}
          {% endembed %}
        {% endif %}

        {# Last item #}
        {% if items.last %}
          {% embed 'kingly_minimal:list-item' with { attributes: create_attribute().addClass('pager__item', 'pager__item--last') } %}
            {% block content %}
              {{ include('kingly_minimal:link', {
                url: items.last.href,
                text: '<span class="visually-hidden">' ~ 'Last page'|t ~ '</span><span aria-hidden="true">' ~ (items.last.text|default('Last »'|t)) ~ '</span>',
                attributes: items.last.attributes|without('href', 'class').addClass('pager__link').setAttribute('title', 'Go to last page'|t),
              }) }}
            {% endblock %}
          {% endembed %}
        {% endif %}
      {% endblock %}
    {% endembed %}
  </nav>
{% endif %}
