{#
/**
 * @file
 * Component template for status messages.
 *
 * @see kingly_minimal/components/status-messages/status-messages.component.yml
 *
 * @props
 * - message_list: (Object) A list of messages to be displayed, grouped by type.
 * - status_headings: (Object) An array of message headings for each message type.
 * - attributes: (Object) HTML attributes for the wrapper element.
 */
#}
{% for type, messages in message_list %}
  {% set classes = [
    'messages',
    'messages--' ~ type,
  ] %}
  {# WCAG 4.1.3: Use role="status" for polite announcements and "alert" for assertive ones. #}
  <div role="{{ type == 'status' ? 'status' : 'alert' }}"{{ attributes.addClass(classes)|without('role') }}>
    {% if status_headings[type] %}
      {{ include('kingly_minimal:heading', {
        text: status_headings[type],
        level: 'h2',
        attributes: create_attribute().addClass('visually-hidden')
      }) }}
    {% endif %}
    {% if messages|length > 1 %}
      <ul class="messages__list">
        {% for message in messages %}
          <li class="messages__item">{{ message }}</li>
        {% endfor %}
      </ul>
    {% else %}
      {{ messages|first }}
    {% endif %}
  </div>
{% endfor %}
