{#
/**
 * @file
 * Component template for status messages.
 *
 * This component now uses the new `list` and `list-item` SDCs for maximum
 * consistency and reusability when there is more than one message.
 *
 * @see kingly_minimal/components/status-messages/status-messages.component.yml
 *
 * @props
 * - message_list: (Object) A list of messages to be displayed, grouped by type.
 * - status_headings: (Object) An array of message headings for each message type.
 * - attributes: (Object) HTML attributes for the wrapper element.
 */
#}
{% for type, messages in message_list %}
  {% set classes = [
    'messages',
    'messages--' ~ type,
  ] %}
  {# WCAG 4.1.3: Use role="status" for polite announcements and "alert" for assertive ones. #}
  <div role="{{ type == 'status' ? 'status' : 'alert' }}"{{ attributes.addClass(classes)|without('role') }}>
    {% if status_headings[type] %}
      {{ include('kingly_minimal:heading', {
        text: status_headings[type],
        level: 'h2',
        attributes: create_attribute().addClass('visually-hidden')
      }) }}
    {% endif %}
    {% if messages|length > 1 %}
      {% embed 'kingly_minimal:list' with {
        attributes: create_attribute().addClass('messages__list')
      } %}
        {% block content %}
          {% for message in messages %}
            {% embed 'kingly_minimal:list-item' with {
              attributes: create_attribute().addClass('messages__item')
            } %}
              {% block content %}
                {{ message }}
              {% endblock %}
            {% endembed %}
          {% endfor %}
        {% endblock %}
      {% endembed %}
    {% else %}
      {{ messages|first }}
    {% endif %}
  </div>
{% endfor %}
