{#
/**
 * @file
 * Component template for the full view of a node.
 *
 * @see kingly_minimal/components/node-full/node-full.component.yml
 *
 * @props
 * - (All props from YML file)
 */
#}
<article{{ attributes }}>

  {# The node title is hidden in the 'full' view mode on a canonical page,
     because the page_title_block will render it as the H1. This logic prevents
     duplicate titles. #}
  {{ title_prefix }}
  {% if label and not page %}
    {{ include('kingly_minimal:heading', {
      text: label,
      level: 'h2',
      url: url,
      attributes: title_attributes.addClass('node__title')
    }, with_context = false) }}
  {% endif %}
  {{ title_suffix }}

  {% if display_submitted %}
    <footer class="node__meta">
      {# Delegate rendering of the author's picture to our Image component. #}
      {{ include('kingly_minimal:image', {
        render_array: author_picture,
        attributes: create_attribute().addClass('user-picture'),
      }, with_context=false) }}

      <div class="node__submitted">
        {% trans %}Submitted by {{ author_name }} on {{ date }}{% endtrans %}
        {{ metadata }}
      </div>
    </footer>
  {% endif %}

  <div{{ content_attributes.addClass('node__content') }}>
    {#
    The 'content' prop contains all the rendered fields of the node,
    such as the paragraph field.
    #}
    {{ content }}
  </div>
</article>
