{#
/**
 * @file
 * Component template for a menu.
 *
 * This component's macro now uses the `kingly_minimal:link` SDC to render the
 * actual link, centralizing link creation logic.
 *
 * @see kingly_minimal/components/menu/menu.component.yml
 *
 * @props
 * - items: (Array) A nested list of menu items.
 * - menu_level: (Number) The current depth of the menu.
 * - attributes: (Object) A Drupal attributes object for the root <ul> element.
 */
#}
{% import _self as menus %}

{# Call the macro which calls itself to render the full tree. #}
{{ menus.menu_links(items, attributes, menu_level|default(0)) }}

{% macro menu_links(items, attributes, menu_level) %}
  {% import _self as menus %}
  {% if items %}
    {% if menu_level == 0 %}
      <ul{{ attributes.addClass('menu', 'menu--level-' ~ menu_level) }}>
    {% else %}
      <ul class="menu__sub-menu menu--level-{{ menu_level }}">
    {% endif %}
    {% for item in items %}
      {% set item_classes = [
        'menu__item',
        'menu__item--level-' ~ menu_level,
        item.is_expanded ? 'menu__item--expanded',
        item.is_collapsed ? 'menu__item--collapsed',
        item.in_active_trail ? 'menu__item--active-trail',
      ] %}
      <li{{ item.attributes.addClass(item_classes) }}>
        {% set link_classes = [
          'menu__link',
          'menu__link--level-' ~ menu_level,
          item.in_active_trail ? 'is-active',
        ] %}
        {# WCAG 2.4.8 (AAA): Add 'aria-current="page"' to the active link. #}
        {% set link_attributes = create_attribute().addClass(link_classes) %}
        {% if item.in_active_trail %}
          {% do link_attributes.setAttribute('aria-current', 'page') %}
        {% endif %}

        {{ include('kingly_minimal:link', {
          text: item.title,
          url: item.url,
          attributes: link_attributes,
        }, with_context = false) }}

        {% if item.below %}
          {{ menus.menu_links(item.below, attributes, menu_level + 1) }}
        {% endif %}
      </li>
    {% endfor %}
    </ul>
  {% endif %}
{% endmacro %}
